
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background-color: var(--color-navy-900);
  padding: 64px 0 40px 0;
  color: var(--color-neutral-white);
}

.footer__up-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.info__description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #86909C;
}

.info__social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-network {
  width: 42px;
}

.footer__menu-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 93px;
}

.footer__menu-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 14px;
}

.second-column {
  width: 180px;
}

.third-column {
  width: 260px;
}

.footer__menu-label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 17px;
}

.footer__menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #D0D0D0;
  height: 17px;
}

.footer__devider {
  height: 1px;
  color: var(--color-neutral-white);
  width: 100vw;
}

.footer__bottom-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}

.copyright, .privacy__label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #D0D0D0;
}

@media (max-width: 1440px) {
  .footer__up-content {
    max-width: 1280px;
  }

  .footer__devider {
    max-width: 1280px;
  }
}

@media (max-width: 1300px) {

  .footer__up-content, .footer__devider, .footer__bottom-content {
    width: 97vw;
  }

}

@media (max-width: 1300px) {
  .footer__up-content {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .info__wrapper {
    flex-direction: row;
  }

  .info__logo {
    width: 130px;
  }

  .footer {
    padding: 32px 0;
  }
}

@media (max-width: 592px) {

  .footer {
    gap: 24px;
  }

  .info__wrapper, .footer__menu-wrapper {
    flex-wrap: wrap;
    justify-content: start;
    gap: 16px;
  }
  
  .info__logo {
    width: 109px;
  }

  .footer__bottom-content {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .footer__menu-wrapper {
    row-gap: 40px;
  }
}
