.header-wrapper {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px; 
  background-color: #FEEDE999;
  z-index: 10;
  backdrop-filter: blur(7px);
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mob-menu-header {
  display: none;
}

.header-btn-mob {
  padding: 0;
  border-radius: 0;
  margin-right: calc(3vw/2);
}

.mob-button-menu {
  padding: 0;
  border-radius: 0;
  width: 100%;
  height: 57px;
}

.mob-menu-header {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 126px;
}

.mob-menu__devider {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}

.menu-close {
  display: none;
}

@media (min-width: 966px) {
  .mob-menu-header {
    display: none !important;
  }
}

@media (max-width: 1152px) {
  .header__logo {
    max-width: 103px;
  }
}

@media (max-width: 965px) {
  .header-menu, .header-btn-desktop {
    display: none;
  }
}

@media (min-width: 965px) {
  .header-btn-mob {
    display: none;
  }
}