.head-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 706px;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}

.head-section__badge {
  color: #FFEDE9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  background-color: #FFEDE940;
  border-radius: 100px;
  border: 1px solid #FFEDE9;
}

.head-section__text {
  color: var(--text-inverse);
  opacity: .7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.head__par {
  width: 528px; 
  text-align: center;
}

.head-section__back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-color {
  width: 100%;
  height: 100%;
  background-color: #1B2C4899;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-img {
  width: 102vw;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.poster-section, .about-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 0;
}

.poster-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  width: 100%;
}

.content-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
}

.calendar-label {
  width: 100%;
  text-align: start;
}

.calendar-info {
  background-color: var(--color-tint-blue);
  width: 100%;
  border-radius: 20px;
  padding: 16px 24px;
}


.upcoming-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.upcoming-events__label {
  width: 100%;
}

.events-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
 
.about-info-section {
  background-color: #FBEEEB;
}

.about-info-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-info__label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}

.about-info__tag {
  color: #363636;
  border-radius: 20px;
  padding: 4px 12px;
  background-color: #FDFAF9;
}

.about-info__label {
  color: #1B2C48; 
}

.about-info__description {
  color: #313131;
  max-width: 572px;
}

.about-info__details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 478px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.detail__label {
  font-family: "CormorantGaramond", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #1B2C48;
  text-align: start;
  width: 100%;
}

.detail__description {
  color: #4C4C4C;
  width: 100%;
  text-align: start;
}

.detail__devider {
  width: 100%;
  height: 1px;
  color: #4C4C4C;
}

.creative-groups-section {
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.creative-groups-wrapper {
  width: 100%;
}

.greative-groups__label {
  color: var(--text-primary);
}

.creative-groups__items {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
  overflow-x: visible;
}

.section-scroll {
  overflow: visible;
}

.section-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.section-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.first-group {
  margin-left: max(24px, calc((100vw - 1248px) / 2));
}

.creative-groups__items::-webkit-scrollbar {
  height: 6px;
}

/* group-item */

.group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px 24px 32px 24px;
  background-color: #F2F4F4;
  border-radius: 20px;
  border: 1px solid #D1D1D1;
  max-width: 932px;
  flex-shrink: 0;
}

.group__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 430px;
  border-radius: 20px;
}

.group__tag {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #363636;
  background-color: #FFFFFF99;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  padding: 4px 12px;
}

.group__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.group__label {
  color: var(--text-primary);
  width: 100%;
  text-align: start;
}

.group__info-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.group__description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  color: #A9AAAA;
  max-width: 430px;
}

.group__director {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.director__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.director__info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.director__name {
  font-weight: 600;
}

.director__img {
  width: 32px;
  height: 32px;
  border-radius: 20px; 
}

.director__social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* group-item */

@media (max-width: 1440px) {
  .last-item {
    display: none;
  }
}