.head-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 676px;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}

.content-head {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  justify-content: center;
  gap: 12px;
  margin-top: 70px;
}

.head-section__badge {
  color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  background-color: #FFFFFF99;
  border-radius: 100px;
  border: 1px solid #FFEDE9;
}

.head-section__text {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.head-date-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.head__par {
  width: 528px; 
  text-align: center;
}

.head-section__back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-color {
  width: 100%;
  height: 100%;
  background-color: #1B2C4899;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-img {
  width: 102vw;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.poster-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 0;
}

.poster-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  width: 100%;
}

.content-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
}

.calendar-label {
  width: 100%;
  text-align: start;
}

.calendar-info {
  background-color: var(--color-tint-blue);
  width: 100%;
  border-radius: 20px;
  padding: 16px 24px;
}

.upcoming-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.events-wrapper {
  width: 100%;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-cancel-opacity {
  opacity: .3;
}

.pagination-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.pag__arrow {
  width: 24px;
}

.numbers__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pag__btn {
  padding: 0;
  width: 24px;
  height: 24px;
}


@media (max-width: 1440px) {
  .events-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .events-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .upcoming-events {
    gap: 64px;
  }
}